[*.cs]

# IDE0059: Ненужное присваивание значения
csharp_style_unused_value_assignment_preference = discard_variable:suggestion

# IDE0018: Объявление встроенной переменной
csharp_style_inlined_variable_declaration = true:none
